<div class="container-fluid">
  <vg-player *ngIf="!loading && source" (onPlayerReady)="onPlayerReady($event)">
    <vg-overlay-play></vg-overlay-play>
    <vg-buffering></vg-buffering>

    <vg-controls [vgAutohide]="true" [vgAutohideTime]="2">
      <vg-play-pause></vg-play-pause>
      <vg-playback-button></vg-playback-button>

      <vg-scrub-bar>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>

      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

      <vg-mute></vg-mute>
      <vg-volume></vg-volume>

      <vg-track-selector></vg-track-selector>

      <vg-fullscreen></vg-fullscreen>
    </vg-controls>
    <video [vgMedia]="media" [src]="source" #media id="singleVideo" preload="auto">
      <track *ngIf="ensubtitles" kind="subtitles" label="English" [src]="ensubtitles" srclang="en" default>
      <track *ngIf="frsubtitles" kind="subtitles" label="Français" [src]="frsubtitles" srclang="fr">
    </video>
  </vg-player>
  <div class="jumbotron">
    <div *ngIf="loading" class="loader"></div>
    <div *ngIf="movieInfo">
      <div class="d-flex flex-lg-row flex-column">
        <div *ngIf="movieInfo.imdb" class="p-2">
          <img class="poster" *ngIf="movieInfo.imdb.poster != 'N/A'" src={{movieInfo.imdb.poster}}/>
        </div>
        <div class="p-2">
          <div *ngIf="movieInfo.title">
            <label *ngIf="movieInfo.title.title">{{movieInfo.title.title}}</label>
            <br *ngIf="movieInfo.title.season || movieInfo.title.episode" />
            <span class="episode" *ngIf="movieInfo.title.season">{{ 'LIBRARY.SEASON' | translate }} {{movieInfo.title.season}}</span>
            <span class="episode" *ngIf="movieInfo.title.episode"> {{ 'LIBRARY.EPISODE' | translate }} {{movieInfo.title.episode}}</span>
            <br *ngIf="movieInfo.title.season || movieInfo.title.episode" />
            <div *ngIf="movieInfo.title.year">
              <h4>{{ 'LIBRARY.YEAR' | translate }}:</h4> {{movieInfo.title.year}}</div>
            <div *ngIf="!movieInfo.title.year && movieInfo.imdb && movieInfo.imdb.year">
              <h4>{{ 'LIBRARY.YEAR' | translate }}:</h4> {{movieInfo.imdb.year}}</div>
          </div>
          <div *ngIf="movieInfo.imdb">
            <div *ngIf="movieInfo.imdb.rating">
              <h4>{{ 'LIBRARY.IMDBRATING' | translate }}:</h4> {{movieInfo.imdb.rating}}</div>
            <div *ngIf="movieInfo.imdb.plot != 'N/A'">
              <h4>{{ 'LIBRARY.PLOT' | translate }}:</h4> {{movieInfo.imdb.plot}}</div>
            <div *ngIf="movieInfo.imdb.director != 'N/A'">
              <h4>{{ 'LIBRARY.PROD' | translate }}:</h4> {{movieInfo.imdb.director}}</div>
            <div *ngIf="movieInfo.imdb.writer != 'N/A'">
              <h4>{{ 'LIBRARY.REAL' | translate }}:</h4> {{movieInfo.imdb.writer}}</div>
            <div *ngIf="movieInfo.imdb.actors != 'N/A'">
              <h4>{{ 'LIBRARY.ACTORS' | translate }}:</h4> {{movieInfo.imdb.actors}}</div>
            <div *ngIf="movieInfo.imdb.runtime != 'N/A'">
              <h4>{{ 'LIBRARY.RUNTIME' | translate }}:</h4> {{movieInfo.imdb.runtime}}</div>
            <div *ngIf="movieInfo.imdb.country != 'N/A'">
              <h4>{{ 'LIBRARY.COUNTRY' | translate }}:</h4> {{movieInfo.imdb.country}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
  <div class="row">
    <h3>Commentaires</h3>
  </div>
    <div class="row">
    <div class="col-md-6 col-lg-8 padd_bot" >
                <div class="widget-area1 no-padding blank">
                <div class="status-upload">
                  <form name="comment_form" (ngSubmit)="onSubmit()">
                    <textarea name="comment" [(ngModel)]="comment" required placeholder="Commente le film..."></textarea>
                    <button type="submit" class="btn btn-success green" ><i class="fa fa-share"></i> Share</button>
                  </form>
                </div>
              </div>
              <p class="showComment" (click)="showcomment()"> Afficher les commentaires...</p>
              <div *ngIf="comments" class="widget-area no-padding blank">
                <div class="div_comment" *ngFor="let com of comments">
                  <img [src]="com.image">
                  <label>{{com.name}}</label>
                  <p>{{com.comment}}</p>
                </div>
              </div>
            </div>
    </div>
</div>
</div>

<script> $(document).ready(function(){

    
    $("[data-toggle=tooltip]").tooltip();
}); </script>