.movie-block {
  border: 1px solid #999;
  background-color: #E9FDFA;
  margin: 4px;
  border-radius: 2%;
  display: table-cell;
  height: 352px;
  width: 250px;
}

.jumbotron {
  background-color: white;
}

.seen {
  background-color: rgb(240, 260, 250);
  border: 1px solid #932a2a;
}

.seentext {
  color: #aaa;
  font-family: 'comic sans ms';
}

h2 {
  color: white;
  font-family: 'comic sans ms';
}

.episode {
  color: white;
  font-size: 1rem;
  font-family: 'comic sans ms';
}

.movie-content {
  opacity: 0;
  padding: 3px;
  text-align: center;
  margin-top: -300px;
  z-index: 100000000;
}

.poster {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 350px;
  width: 100%;
  transition: 0.2s -webkit-filter linear;
  animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari et Chrome */
    -o-animation: fadein 1s; /* Opera */
}

.movie-block:hover .poster{
  filter: blur(5px) grayscale(1);
  transition: 0.1s -webkit-filter linear;
}

.movie-block:hover .movie-content {
  transition: opacity 0.7s ease-out;
  opacity: 1;
  position: relative;
  z-index: 10;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

p {
  font-size: 14px;
  margin-bottom: 0;
  color: white;
}

label {
  color: white;
  font-size: 21px;
  word-break: normal;
}

.movie {
  text-decoration: none;
  color: white;
  font-family: 'comic sans ms';
}

span {
  color: white;
}

a {
  overflow-wrap: break-word;
  word-break: break-all;
}

hr {
  margin: 0;
}

h4 {
  color: white;
  font-size: 1rem;
  display: inline;
  font-family: 'comic sans ms';
}

.left_bar {
  position: absolute;
  margin-top: 70px;
  height: 100%;
  width: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 0px 20px 0px;
  background-color: white;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.left_bar:hover {
  width: 200px;
  background-color: black;
  transition: 0.5s;
}

.filter {
  opacity: 0;
  color: #818181;
}

.filter:hover {
  cursor: pointer;
  color: #f1f1f1;
}

.left_bar:hover .filter {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.5s;
    opacity: 1;
}

.milieu {
  margin-top: 70px;
}

@media only screen and (max-width: 767px) {
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .movie-block {
    height: auto;
    width: 150px;
  }
  .poster {
    height: 200px;
  }
  label {
    font-size: 10px;
  }
  h4 {
    font-size: 10px;
  }
  .seentext {
    font-size: 4px;
  }
  .movie-content {
    margin-top: -205px; 
  }
  .seentext {
    font-size: 7px;
  }
  .mini {
    font-size: 7px;
  }
  .left_bar {
    padding-top: 50px;
  }
  .left_bar:hover .filter {
    padding: 4px 4px 4px 16px;
    text-decoration: none;
    font-size: 12px;
    display: block;
    transition: 0.5s;
    opacity: 1;
}
  .left_bar:hover {
    width: 100px;
  }
}