<div class="container">
  <div class="jumbotron">
    <h1>{{ 'INDEX.LOGIN' | translate }}</h1>
    <hr/>
    <div class="row justify-content-center">
      <a class="btn btn-42 btn-omniauth" href="https://api.intra.42.fr/oauth/authorize?client_id=9d3165e2129af22a2dc22c66fcd5a4ae80164d24691f149451e0e622463a0674&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fomniauth&response_type=code">
        <img src="assets/42_logo_api.svg" height="50px" /> {{ 'INDEX.LOGIN' | translate }} {{ 'SETTINGS.WITH' | translate
        }} 42
      </a>
      <a class="btn btn-secondary btn-omniauth" href="/omniauth/google">
        <img src="assets/google_logo.svg" height="50px" /> {{ 'INDEX.LOGIN' | translate }} {{ 'SETTINGS.WITH' | translate
        }} Google
      </a>
      <a class="btn btn-fb btn-omniauth" href="/omniauth/facebook">
        <img src="assets/facebook_logo.svg" height="50px" /> {{ 'INDEX.LOGIN' | translate }} {{ 'SETTINGS.WITH' | translate
        }} Facebook
      </a>
      <a class="btn btn-li btn-omniauth" href="/omniauth/linkedin">
        <img src="assets/LinkedIn_Logo.svg" height="50px" /> {{ 'INDEX.LOGIN' | translate }} {{ 'SETTINGS.WITH' | translate
        }} Linkedin
      </a>
    </div>
    <hr/>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{'has-danger': username.errors && (username.dirty || username.touched)}">
        <label class="form-control-label" for="username">{{ 'SETTINGS.USERNAME' | translate }}</label>
        <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required placeholder="{{ 'SETTINGS.USERNAME' | translate }}"
          tabindex="1" />
        <div *ngIf="username.errors && (username.dirty || username.touched)" class="form-control-feedback">
          <div [hidden]="!username.errors.required">
            {{ 'SETTINGS.USERNAME' | translate }} {{ 'SETTINGS.REQUIRED' | translate }}
          </div>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-danger': password.errors && (password.dirty || password.touched)}">
        <label class="form-control-label" for="password">{{ 'SETTINGS.PASSWORD' | translate }}</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required tabindex="2"
          placeholder="{{ 'SETTINGS.PASSWORD' | translate }}" />
        <div *ngIf="password.errors && (password.dirty || password.touched)" class="form-control-feedback">
          <div [hidden]="!password.errors.required">
            {{ 'SETTINGS.PASSWORD' | translate }} {{ 'SETTINGS.REQUIRED' | translate }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary" tabindex="3">{{ 'INDEX.LOGIN' | translate }}</button>
        <div *ngIf="loading" class="loader"></div>
        <a [routerLink]="['/register']" class="btn btn-link" tabindex="4">{{ 'INDEX.REGISTER' | translate }}</a>
      </div>
      <br/>
      <a class="btn btn-warning" [routerLink]="['/forgot']" role="button">{{ 'INDEX.FORGOT' | translate }}</a>
    </form>
  </div>
</div>