.mobile_drop_down {
  background-color: white;
  float: center;
}

.logo {
  width: 41px;
  margin-right: 10px;
  float: left!important;
}

#liens_main {
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
}

#liens {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
}

#liens:hover {
  color: rgba(255, 255, 255, 1);
}

.navbar-default {
  border-color: transparent;
  padding-bottom: 10px;
}

.right {
  display: inline-block;
}

.root {
  background-color: #4099FF;
  border-radius: 0;
  margin-bottom: 0;
  top: 0;
  width: 100%;
}

.header {
  margin: 0 auto;
  padding: 20px 0;
  max-width: var(--max-content-width);
}

.brand,
.brand:active,
.brand:visited {
  color: color(var(--brand-color) lightness(+10%));
  text-decoration: none;
  font-size: 3em;
  font-family: 'Lucida Console';
}

.brand:hover {
  color: rgba(255, 255, 255, 1);
}

.header-right {
  float: right;
  margin: 6px 0 0;
  margin-top: 10px;
}

.spacer {
  color: rgba(255, 255, 255, 0.3);
}

.link {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 1.125em;
}

.link,
.link:active,
.link:visited {
  color: rgba(255, 255, 255, 0.6);
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}

.navbar-form {
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: table;
}

.search-bar {
  width: 100%;
  display: table-cell;
}

.search-bar .form-control {
  width: 99%;
}

.search-submit {
  width: 100px;
}

.footer {
  height: 40px;
  background-color: #32383e;
  bottom: 0;
  width: 100%;
  position: fixed;
  color: #a1aab4;
  font-size: 14px;
  text-align: center;
  font-family: 'Lato', arial, sans-serif;
}

.name_creator {
  color: #EDEDED;
}

.logo_popcorn {
  height: 60px;
  padding-right: 20px;
  margin-left: -20px;
}

.lang_img {
  margin-bottom: -28px;
  width: 40px;
}

@media only screen and (max-width: 991px) {
  #liens_main {
    font-size: 15px;
  }
  #liens {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .lang_img {
    margin-bottom: -10px;
    width: 40px;
  }
}