<div *ngIf="user" class="container">
  <div class="jumbotron">
    <img class="float-right" *ngIf="user.language == 'English'" src="https://lipis.github.io/flag-icon-css/flags/4x3/gb.svg"
      width="100px" />
    <img class="float-right" *ngIf="user.language == 'Français'" src="https://lipis.github.io/flag-icon-css/flags/4x3/fr.svg"
      width="100px" />
    <h1>{{ 'PROFILE.PROFILE' | translate }} {{user.username}}</h1>
    <br/>
    <object data="" type="image/png">
    <img class="rounded" src={{user.image_url}} data-action="zoom" />
    </object>
    <br/>
    <br/>
    <p>
      <b>{{ 'SETTINGS.FIRSTNAME' | translate }}</b>: {{user.firstName}}<br/> <b>{{ 'SETTINGS.LASTNAME' | translate }}</b>:
      {{user.lastName}}
      <br/>
    </p>
  </div>
</div>