body {
  background: url("assets/background.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}

.jumbotron {
  background-color: white;
}

.jumbotron>h2 {
  margin-top: 0;
}

.container,
.container-fluid {
  margin-top: 12px;
}

@media only screen and (max-width: 767px) {
  .jumbotron {
    padding-top: 10px;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}