<div class="container-fluid">
  <div class="jumbotron">
    <h2>{{ 'INDEX.SEARCH' | translate }}</h2>
    <div *ngIf="loading" class="loader"></div>
    <div class="row justify-content-center">
      <h2 *ngIf="!loading && movies.length === 0">{{ 'LIBRARY.NORESULTS' | translate }}</h2>
      <div class="movie-block" *ngFor="let movie of movies; let i = index">
        <a class="movie" href="/player?movie={{movie.id}}&source={{movie.source}}">
          <div *ngIf="movie.imdb">
            <img class="poster" *ngIf="movie.imdb.poster != 'N/A'" src={{movie.imdb.poster}}/>
            <hr/>
          </div>
          <div class="movie-content">
            <label *ngIf="movie.title && movie.title.title">{{movie.title.title}}</label>
            <span *ngIf="movie.title && movie.title.year"> - {{movie.title.year}}</span>
            <span *ngIf="movie.title && !movie.title.year && movie.imdb && movie.imdb.year"> - {{movie.imdb.year}}</span>
            <br *ngIf="movie.title && movie.title.season || movie.title.episode" />
            <span class="episode" *ngIf="movie.title && movie.title.season">{{ 'LIBRARY.SEASON' | translate }} {{movie.title.season}}</span>
            <span class="episode" *ngIf="movie.title && movie.title.episode">{{ 'LIBRARY.EPISODE' | translate }} {{movie.title.episode}}</span>
            <br/>
            <p *ngIf="movie.imdb && movie.imdb.rating">{{ 'LIBRARY.IMDBRATING' | translate }}: {{movie.imdb.rating}}</p>
            <p>
              Torrent: <a href={{movie.link}}>{{movie.name}}</a><br/> Seeders: {{movie.seeders}}<br/> {{ 'LIBRARY.SIZE' |
              translate }}: {{movie.size}}<br/></p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>