<div class="container">
  <div class="jumbotron">
    <h2 id="title">{{ 'SETTINGS.TITLE' | translate }} {{currentUser.username}}</h2>
    <form name="form" (ngSubmit)="f.form.valid && settings()" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{'has-danger': username.errors && (username.dirty || username.touched)}">
        <label class="form-control-label" for="username">{{ 'SETTINGS.USERNAME' | translate }}</label>
        <input type="text" class="form-control" name="username" required minlength="4" maxlength="24" [(ngModel)]=currentUser.username
          #username="ngModel" required tabindex="1" autofocus="autofocus" />
        <div *ngIf="username.errors && (username.dirty || username.touched)" class="form-control-feedback">
          <div [hidden]="!username.errors.required">
            {{ 'SETTINGS.USERNAME' | translate }} {{ 'SETTINGS.REQUIRED' | translate }}
          </div>
          <div [hidden]="!username.errors.minlength">
            {{ 'SETTINGS.USERNAME' | translate }} {{ 'SETTINGS.SHORT4' | translate }}
          </div>
          <div [hidden]="!username.errors.maxlength">
            {{ 'SETTINGS.USERNAME' | translate }} {{ 'SETTINGS.LONG' | translate }}
          </div>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-danger': firstName.errors && (firstName.dirty || firstName.touched)}">
        <label class="form-control-label" for="firstName">{{ 'SETTINGS.FIRSTNAME' | translate }}</label>
        <input type="text" class="form-control" name="firstName" maxlength="24" [(ngModel)]=currentUser.firstName #firstName="ngModel"
          required autofocus="autofocus" tabindex="2" />
        <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)" class="form-control-feedback">
          <div [hidden]="!firstName.errors.required">
            {{ 'SETTINGS.FIRSTNAME' | translate }} {{ 'SETTINGS.REQUIRED' | translate }}
          </div>
          <div [hidden]="!firstName.errors.maxlength">
            {{ 'SETTINGS.FIRSTNAME' | translate }} {{ 'SETTINGS.LONG' | translate }}
          </div>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-danger': lastName.errors && (lastName.dirty || lastName.touched)}">
        <label class="form-control-label" for="lastName">{{ 'SETTINGS.LASTNAME' | translate }}</label>
        <input type="text" class="form-control" name="lastName" maxlength="24" [(ngModel)]=currentUser.lastName #lastName="ngModel"
          required tabindex="3" />
        <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)" class="form-control-feedback">
          <div [hidden]="!lastName.errors.required">
            {{ 'SETTINGS.LASTNAME' | translate }} {{ 'SETTINGS.REQUIRED' | translate }}
          </div>
          <div [hidden]="!lastName.errors.maxlength">
            {{ 'SETTINGS.LASTNAME' | translate }} {{ 'SETTINGS.LONG' | translate }}
          </div>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-danger': (password.errors && (password.dirty || password.touched)) || password2.value != password.value}">
        <label class="form-control-label" for="password">{{ 'SETTINGS.PASSWORD' | translate }}</label>
        <input minlength="6" maxlength="24" type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel"
          tabindex="4" pattern="^.*(?=.*\d)(?=.*[a-z]).*(?=.*[A-Z]).*$" />
        <div class="form-control-feedback">
          <div *ngIf="password.errors && (password.dirty || password.touched)">
            <div [hidden]="!password.errors.required">
              {{ 'SETTINGS.PASSWORD' | translate }} {{ 'SETTINGS.REQUIRED' | translate }}
            </div>
            <div [hidden]="!password.errors.minlength">
              {{ 'SETTINGS.PASSWORD' | translate }} {{ 'SETTINGS.SHORT6' | translate }}
            </div>
            <div [hidden]="!password.errors.maxlength">
              {{ 'SETTINGS.PASSWORD' | translate }} {{ 'SETTINGS.LONG' | translate }}
            </div>
            <div [hidden]="!password.errors.pattern">
              {{ 'SETTINGS.PASSWORD' | translate }} {{ 'SETTINGS.PASSWORDVALID' | translate }}
            </div>
          </div>
          <div *ngIf="password2.value != password.value">
            {{ 'SETTINGS.PASSWORDS' | translate }} {{ 'SETTINGS.MATCH' | translate }}
          </div>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-danger': (password2.errors && (password2.dirty || password2.touched)) || password2.value != password.value}">
        <label class="form-control-label" for="password2">{{ 'SETTINGS.PASSWORD2' | translate }}</label>
        <input minlength="6" maxlength="24" type="password" class="form-control" name="password2" [(ngModel)]="model.password2" #password2="ngModel"
          tabindex="5" />
        <div *ngIf="(password2.errors && (password2.dirty || password2.touched)) || password2.value != password.value" class="form-control-feedback">
          <div *ngIf="password2.errors">
            <div [hidden]="!password2.errors.required">
              {{ 'SETTINGS.PASSWORD' | translate }} {{ 'SETTINGS.REQUIRED' | translate }}
            </div>
            <div [hidden]="!password2.errors.minlength">
              {{ 'SETTINGS.PASSWORD' | translate }} {{ 'SETTINGS.SHORT6' | translate }}
            </div>
            <div [hidden]="!password2.errors.maxlength">
              {{ 'SETTINGS.PASSWORD' | translate }} {{ 'SETTINGS.LONG' | translate }}
            </div>
          </div>
        </div>
      </div>
      <div class="form-group" [ngClass]="{'has-danger': email.errors && (email.dirty || email.touched)}">
        <label class="form-control-label" for="email">{{ 'SETTINGS.EMAIL' | translate }}</label>
        <input type="email" class="form-control" name="email" [(ngModel)]=currentUser.email #email="ngModel" required tabindex="6"
        />
        <div *ngIf="email.errors && (email.dirty || email.touched)" class="form-control-feedback">
          <div [hidden]="!email.errors.required">
            {{ 'SETTINGS.EMAIL' | translate }} {{ 'SETTINGS.REQUIRED' | translate }}
          </div>
          <div [hidden]="!email.errors.maxlength">
            {{ 'SETTINGS.EMAIL' | translate }} {{ 'SETTINGS.LONG' | translate }}
          </div>
          <div [hidden]="!email.errors.email">
            {{ 'SETTINGS.EMAIL' | translate }} {{ 'SETTINGS.EMAILVALID' | translate }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="form-control-label" for="language">{{ 'SETTINGS.LANGUAGE' | translate }}</label>
        <select class="form-control" [(ngModel)]=currentUser.language name="language" (ngModelChange)="trans(currentUser.language)"
          required>
          <option *ngFor="let c of language" [ngValue]="c.name" required>{{c.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary" tabindex="3">{{ 'SETTINGS.CHANGE' | translate }}</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        />
      </div>
    </form>
    <img class="profilepic" src={{imgSrc}}/>
    <input [disabled]="loading2" type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." />
    <img *ngIf="loading2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
    />
  </div>
</div>